:root {
  --color--white: #ffffff;
  --color--black: #000000;
  --color-primary: #3E9CDC;
  --color-secondary: #272733;

  --color-accent: #43ABF0;

  --color-hero-button: #2A2B30;
  --color-hero-border: #6F6D7B;

  --color-subtitle: #BBBBBB;
  --color-order-form: #C3C3C3;
  --color-feature-border: #286690;

  --bg-color-header: rgba(16, 16, 29, 0.9);
  --bg-color-footer: #3D4050;
}
