:root {
  --font-lato: 'Lato', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
}

@font-face {
  font-family: 'Lato';
  font-weight: 600;
  src: local('Lato'),
  url('./app/fonts/Lato-SemiBold.woff2') format('woff2'),
  url('./app/fonts/Lato-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 800;
  src: local('Lato'),
  url('./app/fonts/Lato-Black.woff2') format('woff2'),
  url('./app/fonts/Lato-Black.woff') format('woff');
}
